# Backend Node.js
/backend/node_modules/
/backend/.env
/backend/*.log

# Mobile Flutter  
/mobile/.dart_tool/
/mobile/build/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies

# Database
*.db

# General
.DS_Store
.idea/
*.iml
